
<app-logout></app-logout>
<mat-stepper #adminStepper>
    <mat-step label="Admin users">
      <app-admin-user></app-admin-user>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Admin products">
      <app-admin-product></app-admin-product>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Admin invoices">
      <app-admin-invoice></app-admin-invoice>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="adminStepper.reset()">Go First</button>
      </div>
    </mat-step>
  </mat-stepper>