<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </p>
    <p *ngIf="data.new">
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </p>
    <p *ngIf="error" class="error">
        {{ error }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-button>Ok</button>
  </mat-dialog-actions>
</form>